<!-- contact.html -->

{% extends "style.html" %}
{% block content %}

<style>
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}



/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<div class="container">
    <p class="w3-opacity w3-center"> </p>
    <h2 class="w3-wide w3-center"> <br> CONTACT </h2>
    <p class="w3-opacity w3-center"><i>N.B. This form is not quite working just yet...</i></p>
    <form action="{{ url_for('contact') }}" method="post">
        <label for="fname">Name</label>
        <input type="text" id="fname" name="name" placeholder="Your name..">
        
        <label for="lname">Email</label>
        <input type="text" id="lname" name="email" placeholder="Your last name..">

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
            
        <label for="subject">Message</label>
        <textarea id="subject" name="message" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">
    </form>
</div>


{% endblock %}
