<!-- misc.html -->

{% extends "style.html" %}
{% block content %}

<div class="w3-content" id="misc">
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="misc">
    <h2 class="w3-wide w3-center">MISCELLANEA</h2>
    <p class="w3-justify">
        <strong>September 2018, Lancaster, UK:</strong> <br>
        Attended the annual Science and Technology Facilities Council (STFC) High Energy Physics 
        <a href="https://stfc.ukri.org/research/particle-physics-and-particle-astrophysics/hep-summer-school/">summer school</a>.
        This school is aimed at first year PhD students,
        to provide thorough grounding in the basics of theoretical physics.
    </p>
    <p class="w3-justify">
        <strong>September 2019, St Petersburg, RU:</strong> <br>
        I had the opportunity of spending 2 weeks in St Petersburg for the annual European School of High Energy Physics. 
        This was a two week programme jointly hosted by CERN and JINR and open to PhD students throughout Europe/Asia. 
        The school has a rich history, going back all the way to <a href="https://physicschool.web.cern.ch/ESHEP/history.html">1961!</a>
    </p>
    <p class="w3-justify">
        <strong>November 2019, Geneva, CH:</strong> <br>
        Took part in the ECFA (European Committee for Future Accelerators) meeting of Early Career Researchers (ECR). 
        <a href="https://ecfa.web.cern.ch/">ECFA</a> was founded in 1963
        as an advisory organisation to help develop and support the field of particle physics throughout Europe.
        The goal of the ECR committee is to discuss all aspects that contribute in a broad sense to the future 
        of the research field of <a href="https://ecfa.web.cern.ch/mandate-ecfa-early-career-researcher-panel">particle physics</a>.
    </p>
    <p class="w3-justify">
        <strong>January 2020, Cambridge, UK:</strong> <br>
        Gave a presentation at the annual ATLAS UK collaboration at the University of Cambridge (roughly 240 participants). 
        The subject of this talk was the results that had recently been published by my analysis <a href="https://arxiv.org/abs/1906.05609">group</a>
        (as well as a few others from closely related <a href="https://arxiv.org/abs/1903.06248">topics</a>).
    </p>
    <p class="w3-justify">
        <strong>July 2020, Prague, CZ:</strong> <br>
        Presented a poster at the (virtual) ICHEP 2020 conference in Prague, 
        outlining a new method for monitoring the collisions taking place
        inside the LHC that my group had developed.
        The conference proceedings for this event can be found <a href="https://pos.sissa.it/390/812/pdf">here</a>.
    </p>
    <p class="w3-justify">
        <strong>January 2021, Krakow, PL:</strong> <br>
        Presented results for searches for new physics in leptonic final states at ATLAS, 
        the slides for which can be found <a href="https://indico.cern.ch/event/934666/contributions/4155586/attachments/2168327/3660174/2021_01_07_MOKeefeEpiphany.pdf">here</a>.
    </p>
</div>
</div>

{% endblock %}
