<!-- publications.html -->

{% extends "style.html" %}
{% block content %}

<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">PERSONAL</h2>
    
        <p> 
            Over the past year or so I have gotten into road cycling,
            feel free to add me on Strava!

            <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/14422181/activity-summary/1d1db035662c83a53733c4a1072b032123ee7548'></iframe>
            
            <p>I also recently built a "fixie", which was a nice way to stay sane during lockdown.</p>
            <p><img class="img-responsive" src="/my-site/static/fixie.jpg" style="width:auto;"></p>
        </p>
    
        <p> 
            When we're not in lockdown I also enjoy hiking.
            <p><img class="img-responsive" src="/my-site/static/helvelyn.JPG" style="width:auto;"></p>
        </p>
    </div>
</div>

{% endblock %}
