<!-- publications.html-->

{% extends "style.html" %}
{% block content %}

<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <div class="w3-blue-grey">
        <h2 class="w3-wide w3-center">PUBLICATIONS</h2>
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
            Note: The source publications can be found by clicking the links in the headings. 
            All figures are linked to the appropriate ATLAS web-pages, 
            which contain all figures from these publications in a convenient format.
        </div>
    </div>


    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide"><a href="https://journals.aps.org/prd/abstract/10.1103/PhysRevD.100.052013"> Searching for new heavy particles </a></h2>
        <p class="w3-justify">
            Results published in Phys. Rev. D.
            <div class="row">
                <div class="column">
                    <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PAPERS/EXOT-2018-30/">
                        <img class="img-responsive" src="/my-site/static/Wprime/kinematics.png" style="width:100%;" target="_blank">
                    </a>
                </div>
                <div class="column">
                    <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PAPERS/EXOT-2018-30/">
                        <img class="img-responsive" src="/my-site/static/Wprime/mu_kinematics.png" style="width:100%;" target="_blank">
                    </a>
                </div>
            </div>
        </p>
        
        <p class="w3-justify">
            Unfortunately, didn't discover anything... Set limits...
            <div class="row">
                <div class="column">
                    <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PAPERS/EXOT-2018-30/">
                        <img class="img-responsive" src="/my-site/static/Wprime/limit.png" style="width:100%;" target="_blank">
                    </a>
                </div>
                <div class="column">
                    <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PAPERS/EXOT-2018-30/">
                        <img class="img-responsive" src="/my-site/static/Wprime/mu_limit.png" style="width:100%;" target="_blank">
                    </a>
                </div>
            </div>
        </p>
    </div>

    
    <div class="w3-blue-grey" id="work">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide"> <a href="https://cds.cern.ch/record/2752951"> Measuring the luminosity of proton-proton collisions at the LHC </a></h2>
        <p class="w3-justify">
            Selection... Using the Zboson... 
            <div class="row">
                <div class="column">
                    <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PLOTS/LUMI-2020-02/">
                        <img class="img-responsive" src="/my-site/static/Zcounting/zee_selection_single_fill.png" style="width:100%" target="_blank">
                    </a>
                </div>
                <div class="column">
                    <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PLOTS/LUMI-2020-02/">
                        <img class="img-responsive" src="/my-site/static/Zcounting/zmm_selection_single_fill.png" style="width:100%" target="_blank">
                    </a>
                </div>
            </div>
        </p>
        
        <p class="w3-justify">
            Results for a single LHC fill...
            <div class="row">
                <div class="column">
                    <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PUBNOTES/ATL-DAPR-PUB-2021-001/">
                        <img class="img-responsive" src="/my-site/static/Zcounting/zee_vs_zmm_single_fill.png" style="width:auto;" target="_blank">
                    </a>
                </div>
                <div class="column">
                    <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PUBNOTES/ATL-DAPR-PUB-2021-001/">
                        <img class="img-responsive" src="/my-site/static/Zcounting/zee_single_fill.png" style="width:auto;" target="_blank">
                    </a>
                </div>
            </div>
        </p>
        
        <p class="w3-justify">
            Results for the entire Run-2 dataset...
            <p>
                <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PUBNOTES/ATL-DAPR-PUB-2021-001/">
                    <img class="img-responsive" src="/my-site/static/Zcounting/zee_vs_zmm.png" style="width:auto;">
                </a>
            </p>

            Zll...
            <p>
                <a href="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PUBNOTES/ATL-DAPR-PUB-2021-001/">
                    <img class="img-responsive" src="/my-site/static/Zcounting/zll_vs_atlas.png" style="width:auto;">
                </a>    
            </p>
        </p>
    </div>
    </div>

</div>

{% endblock %}
