<!-- style.html -->
<!DOCTYPE html>

<style>
img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}
</style>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<html>
    <head>
        <!-- Header templates, e.g. setup css style -->
        <title>Michael O'Keefe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <div class="w3-top">
            <div class="w3-bar w3-dark-grey w3-card">
                <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="/my-site/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
                <a href="/my-site/misc/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MISCELLANEA</a>
                <a href="/my-site/publications/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PUBLICATIONS</a>
                <a href="/my-site/personal/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PERSONAL</a>
                <a href="/my-site/contact/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
            </div>
        </div>
        
        <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
        <div id="navDemo" class="w3-bar-block w3-dark-grey w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
            <a href="/my-site/misc/"         class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MISCELLANEA</a>
            <a href="/my-site/publications/" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PUBLICATIONS</a>
            <a href="/my-site/personal/"     class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PERSONAL</a>
            <a href="/my-site/contact/"      class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
        </div>

        <!-- Define block to be initiated in template -->
        <div id="content">{% block content %}{% endblock %}</div>

        <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
            <!--<i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>-->
            <i class="fa fa-linkedin w3-hover-opacity" href="https://www.linkedin.com/in/michael-o-keefe"></i>
        </footer>
    </body>
</html>
